@model PortalAboutEverything.Models.BookClub.CreateBookViewModel;

@section BookClubStyle {
    <link rel="stylesheet" href="/css/BookClub/Create.css" />
}

<div class="wrapper">
    <div class="header">
        <div class="header__wrapper">
            <div class="header__content">
                <div class="header__title">
                    IT книжный клуб
                </div>
                <div class="header__summary">
                    Читаем, разбираем и делимся опытом в кругу своих
                </div>
                <div class="header__btn_wrapper">
                    <button class="header__btn btn btn_small">Вступить</button>
                </div>
            </div>
            <div class="header__image">
                <img src="/images/bookClub/header_image.webp" alt="A man read books">
            </div>
        </div>
    </div>
    </
    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-75">
                    @Html.LabelFor(x => x.BookTitle, "Название: ")
                    @Html.TextBoxFor(x => x.BookTitle)
                    @Html.ValidationMessageFor(x => x.BookTitle)
                </div>
            </div>

            <div class="row">
                <div class="col-75">
                    @Html.LabelFor(x => x.BookAuthor, "Автор")
                    @Html.TextBoxFor(x => x.BookAuthor)
                    @Html.ValidationMessageFor(x => x.BookAuthor)
                </div>
            </div>

            <div class="row">
                <div class="col-75">
                    @Html.LabelFor(x => x.YearOfPublication, "Год выпуска")
                    @Html.TextBoxFor(x => x.YearOfPublication,
                             new
                             {
                                 placeholder = "Год",
                                 @type = "number",
                             })
                    @Html.ValidationMessageFor(x => x.YearOfPublication)
                    @Html.DisplayNameFor(x => x.YearOfPublication)
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(x => x.SummaryOfBook, "Описание")
                @Html.TextAreaFor(x => x.SummaryOfBook)
                @Html.ValidationMessageFor(x => x.SummaryOfBook)
            </div>

            <div class="row">
                <input type="submit" value="Создать" />
            </div>
        </form>
    </div>
