@model PortalAboutEverything.Models.BookClub.FavoriteBooksViewModel;

           @section BookClubStyle {
    <link rel="stylesheet" href="/css/BookClub/Index.css" />
}

<div class="content-page">
    <h2>Список  книг @Model.UserName</h2>
</div>

@foreach (var book in @Model.Books)
{
    <div class="content-page__wrapper">
        <div class="content-page__book book">
            <div class="book__book_title">@book.BookTitle</div>
            <div class="book__book_author">@book.BookAuthor</div>
            <div class="book__book-images">
                <div class="image_wrapper">
                    <img src="/images/bookClub/cover.webp" alt="cover" class="book-image__item cover">
                </div>
                <div class="image_wrapper">
                    <img src="/images/bookClub/back_cover.webp" alt="back cover" class="book-image__item back_cover">
                </div>
                <div class="image_wrapper">
                    <img src="/images/bookClub/contents.webp" alt="table contents" class="book-image__item contents">
                </div>
            </div>
        </div>
        <div class="content-page__aside aside">
            <div class="aside__title">О книге</div>
            <div class="aside__summury">
                @book.SummaryOfBook
            </div>
            <div class="aside__buttons">
                <a href="/BookClub/AddBookReview?id=@book.Id" class="btn btn_big">Написать рецензию</a>
                <a href="/BookClub/Delete?id=@book.Id" class="btn btn_small">Удалить книгу </a>
                <a href="/BookClub/Update?id=@book.Id" class="btn btn_big">Изменить данные о книге</a>
            </div>
        </div>

    </div>
}